<!DOCTYPE html>
<html ng-app='ttt'>
  <head>
    <meta charset=utf-8 />
    <title>ttt-rb</title>
    <link href='/ios.css' rel='stylesheet'>
    <script src='/angular.min.js'></script>
    <script src='/ttt.js'></script>
  </head>
  <body ng-controller='TTTCtrl'>
    <div id="board-container">
      <table>
        <tr ng-repeat='row in rows'>
          <td ng-repeat='cell in row.cells track by $index' id="cell-{{ cell.id }}" class="height-{{ row.height }}" ng-class="{ 'win' : cell.win }" ng-click='addValue(cell.id)'>{{ cell.value }}</td>
        </tr>
      </table>
    </div>
    <div id="scoreboard">
      <p>Wins: 0</p>
      <p>Losses: {{ losses }}</p>
      <p>Ties: {{ ties }}</p>
    </div>
    <div>
      <a ng-hide="firstPlayerName === 'computer' && filledCells.length === 0" id="new-game" ng-click="newGame()" href="#">New Game</a>
    </div>
  </body>
</html>
