<!DOCTYPE html>
<html ng-app='ttt'>
<head>
<meta charset=utf-8 />
<title>JS Bin</title>
<link href='/ttt.css' rel='stylesheet'>
<script src='/angular.min.js'></script>
<script src='/ttt.js'></script>
</head>
<body ng-controller='TTTCtrl'>
  <h1>Tic Tac Toe</h1>
  <table >
  	<tr ng-repeat='row in rows' id="row-{{ row.id }}">
  		<td ng-repeat='cell in row.cells' id='cell-{{cell.id}}' ng-click='addValue(row.id, cell.column)'>{{ cell.value }}</td>
  	</tr>
  </table>
</body>
</html>
