<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>JS Bin</title>
<link href='/ttt.css' rel='stylesheet'>
<script src='/jquery-1.10.2.min.js'></script>
<script src='/ttt.js'></script>
</head>
<body>
  <h1>Tic Tac Toe</h1>
  <table>
  	<tr id='row_1'>
  		<td id='cell-1'></td>
  		<td id='cell-2'></td>
  		<td id='cell-3'></td>
  	</tr>
  	<tr id='row_2'>
  		<td id='cell-4'></td>
  		<td id='cell-5'></td>
  		<td id='cell-6'></td>
  	</tr>
  	<tr id ='row_3'>
  		<td id='cell-7'></td>
  		<td id='cell-8'></td>
  		<td id='cell-9'></td>
  	</tr>
  </table>
</body>
</html>
