body {
	font-family: helvetica;
}

h1 {
	text-align: center;
	padding-bottom: 5%;
}

#scoreboard {
	float: left;
	width: 12%;
}

#board-container {
	width: 50%;
	margin: 0 auto;
}

.pick-character {
	padding-top: 5%;
	padding-bottom: 5%;
}

table {
	border-collapse:collapse;
	margin: 0 auto;
}

td {
	border: 3px solid black;
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 100px;
}

td#a1 {
	border-top: none;
	border-left: none;
}

td#a2 {
	border-top: none;
}

td#a3 {
	border-top: none;
	border-right: none;
}

td#b1 {
	border-left: none;
}

td#b3 {
	border-right: none;
}

td#c1 {
	border-bottom: none;
	border-left: none;
}

td#c2 {
	border-bottom: none;
}

td#c3 {
	border-bottom: none;
	border-right: none;
}

.win {
	background-color: black;
	color: white;
}
