h1 {
	text-align: center;
}

#scoreboard {
	float: left;
}

table {
	border-collapse:collapse;
	margin: auto;
}

td {
	border: 1px solid black;
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 100px;
}

.win {
	background-color: black;
	color: white;
}
